.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  /* border: 1px solid white; */
  position: fixed;
  top: 0;
  background: linear-gradient(60deg, black, transparent);
  width: 100%;
}
.back {
  cursor: pointer;
  border-radius: 999px;
  padding: 10px;
  align-self: flex-start;
}
.back:hover {
  background-color: #494949;
}

.account {
  border: 2px solid black;
  display: flex;
  cursor: pointer;
  text-align: center;
  height: fit-content;
  border-radius: 999px;
  padding: 3px;
}
.person {
  /* border: 1px solid #dbd6d6; */
  border-radius: 999px;
}
